name = "gila-integrator"
version = "0.7.0"
license = "MIT"
author = "Nicolás Celedón-Hernández"
maintainer = "nicolas.celedonh@ciencias.unam.mx"
copyright = "Copyright 2025, Nicolás Celedón-Hernández"
[build]
auto-executables = true
auto-tests = true
auto-examples = true
module-naming = false
[install]
library = false
[fortran]
implicit-typing = false
implicit-external = false
source-form = "free"

